html.dark {
	--syntax-comment: 249, 11.7%, 47.1%;
	--syntax-constant: 197, 49%, 37.6%;
	--syntax-constant-numeric: 2, 55.1%, 82.5%;
	--syntax-constant-language: 2, 55.1%, 82.5%;
	--syntax-entity-name: 2, 55.1%, 82.5%;
	--syntax-entity-name-section: 189, 43.5%, 72.9%;
	--syntax-entity-name-tag: 189, 43.5%, 72.9%;
	--syntax-entity-name-namespace: 189, 43.5%, 72.9%;
	--syntax-entity-name-type: 189, 43.5%, 72.9%;
	--syntax-entity-other-attribute-name: 267, 57.1%, 78%;
	--syntax-entity-other-inherited-class: 267, 57.1%, 78%;
	--syntax-invalid: 343, 75.6%, 67.8%;
	--syntax-invalid-deprecated: 248, 15%, 60.8%;
	--syntax-keyword: 197, 49%, 37.6%;
	--syntax-variable-language-this: 197, 49%, 37.6%;
	--syntax-markup-inserted-diff: 189, 43.5%, 72.9%;
	--syntax-markup-deleted-diff: 343, 75.6%, 67.8%;
	--syntax-markup-heading: ;
	--syntax-markup-bold-markdown: ;
	--syntax-markup-italic-markdown: ;
	--syntax-meta-diff-range: 267, 57.1%, 78%;
	--syntax-meta-tag: 245, 50%, 91.4%;
	--syntax-meta-brace: 245, 50%, 91.4%;
	--syntax-meta-import: 197, 49%, 37.6%;
	--syntax-meta-export: 197, 49%, 37.6%;
	--syntax-meta-directive-vue: 267, 57.1%, 78%;
	--syntax-meta-property-name-css: 189, 43.5%, 72.9%;
	--syntax-meta-property-value-css: 35, 87.6%, 71.6%;
	--syntax-meta-tag-other-html: 248, 15%, 60.8%;
	--syntax-punctuation: 248, 15%, 60.8%;
	--syntax-punctuation-accessor: 197, 49%, 37.6%;
	--syntax-punctuation-definition-string: 35, 87.6%, 71.6%;
	--syntax-punctuation-definition-tag: 249, 11.7%, 47.1%;
	--syntax-storage-type: 197, 49%, 37.6%;
	--syntax-storage-modifier: 197, 49%, 37.6%;
	--syntax-string: 35, 87.6%, 71.6%;
	--syntax-support: 189, 43.5%, 72.9%;
	--syntax-support-constant: 35, 87.6%, 71.6%;
	--syntax-support-function: 343, 75.6%, 67.8%;
	--syntax-variable: 2, 55.1%, 82.5%;
	--syntax-variable-other: 245, 50%, 91.4%;
	--syntax-variable-language: 245, 50%, 91.4%;
	--syntax-variable-function: 245, 50%, 91.4%;
	--syntax-variable-argument: 245, 50%, 91.4%;
	--syntax-variable-parameter: 267, 57.1%, 78%;
	--input-border: #6e6a8633;
	--tab-activeBackground: #6e6a861a;
}
