@import './light.theme.css';
@import './dark.theme.css';
/* @import './tweet-preview.css'; */

:root {
	--text-font: 'Mulish', sans-serif;
	--head-font: 'Dosis', sans-serif;
	--font-size: calc(1rem + 0.23dvw);
	--line-height: 1.8;
	--spacing: 1.74em;
	--spacing-half: 1.22em;
	--spacing-small: 0.5em;
	--spacing-large: 3.2em;
	--header-height: 5em;
	--accent-color: var(--base-color);
	--typescript: 233, 82%, 69%;
	--angular: 0, 74%, 56%;
	--dotnet: 261, 80%, 72%;
	--ngrx: 289, 65%, 46%;
	--playwright: 135, 59%, 49%;
	--rxjs: 336, 78%, 43%;
	--azure: 206, 100%, 36%;
	--zod: 215, 54%, 33%;
	--svelte: 12, 94%, 62%;
	--cypress: 184, 100%, 25%;
	--javascript: 50, 100%, 50%;
	--vue: 153, 47%, 49%;
}

html.light {
	--base-color: 0, 0%, 0%;
	--background-color: hsla(0, 0%, 100%, 0.9);
	--background-color-transparent: hsla(0, 0%, 0%, 0.05);
	--text-color: hsla(0, 0%, 0%, 0.95);
	--text-color-light: hsla(0, 0%, 0%, 0.7);
	--text-color-subtle: hsla(0, 0%, 0%, 0.4);
}

html.dark {
	--base-color: 0, 0%, 100%;
	--background-color: hsla(0, 0%, 0%, 0.95);
	--background-color-transparent: hsla(0, 0%, 100%, 0.05);
	--text-color: hsla(0, 0%, 100%, 0.9);
	--text-color-light: hsla(0, 0%, 100%, 0.7);
	--text-color-subtle: hsla(0, 0%, 100%, 0.4);
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

* + * {
	margin-top: var(--spacing);
}

main {
	margin-top: var(--header-height);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100dvh;
	box-sizing: border-box;
}

body {
	font-family: var(--text-font);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 17px;
	line-height: var(--line-height);
	padding-bottom: 1em;
}

::selection {
	color: var(--background-color);
	background: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--head-font);
	line-height: 1.2;
	font-weight: 400;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	font-family: var(--head-font);
	margin-top: var(--spacing-half);
}

a {
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2em;
	font-size: inherit;
	line-height: inherit;
}

a:hover {
	text-decoration-line: underline;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	text-decoration: none;
}

h1 > .material-symbols-outlined,
h2 > .material-symbols-outlined,
h2 > .material-symbols-outlined,
h3 > .material-symbols-outlined,
h4 > .material-symbols-outlined,
h5 > .material-symbols-outlined,
h6 > .material-symbols-outlined {
	opacity: 0;
	transition: 0.2s ease-in-out;
}

h1:hover > .material-symbols-outlined,
h2:hover > .material-symbols-outlined,
h3:hover > .material-symbols-outlined,
h4:hover > .material-symbols-outlined,
h5:hover > .material-symbols-outlined,
h6:hover > .material-symbols-outlined {
	opacity: 1;
}

h1:hover > a,
h2:hover > a,
h3:hover > a,
h4:hover > a,
h5:hover > a,
h6:hover > a {
	text-decoration: underline;
}

p {
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: 200;
	transition: 0.2s ease-in-out;
}

@media (max-width: 480px) {
	p {
		font-size: 1rem;
	}
}

ul,
ol {
	font-size: var(--font-size);
	line-height: var(--line-height);
	margin-top: var(--spacing-half);
	list-style-position: inside;
	font-weight: 200;
}

li + li,
li > a + ul {
	margin-top: var(--spacing-small);
}

ul ul,
ol ol {
	padding-left: 1.11em;
}

input {
	border: 1px solid;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border-radius: 2px;
	display: block;
	width: 100%;
	font-size: inherit;
	color: #111;
}

label {
	font-size: inherit;
}

img,
video {
	width: 100%;
}

button {
	background: none;
	outline: none;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 0.2em 0.5em;
	margin: 0.3em 0.6em 0.3em 0;
	cursor: pointer;
	font-size: inherit;
	line-height: inherit;
}

button:focus,
button:active,
a:focus,
a:active {
	outline: 2px solid currentColor;
	outline-offset: 0.25em !important;
	transition: 0.2s ease-in-out;
}

:focus:not(:focus-visible) {
	outline: none;
}

body > div > *:not(footer, script) {
	display: grid;
	grid-template-columns:
		minmax(1.2rem, 1fr)
		minmax(auto, 80ch)
		minmax(1.2rem, 1fr);
}

body > div > * > * {
	grid-column: 2;
}

main > h1 {
	margin-top: var(--spacing);
}

main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
	text-transform: uppercase;
}

body > div > main > pre,
body > div > main > iframe,
body > div > main > figure,
body > div > main > table,
body > div > main > blockquote,
body > div > main > .wide {
	grid-column: 1 / 4;
	width: 100%;
	max-width: 95ch;
	justify-self: center;
}

body > div > main > iframe {
	max-width: 95%;
}

figure > figcaption {
	margin-top: 0;
	color: var(--text-color-light);
	font-size: 0.9rem;
	text-align: center;
}

iframe {
	height: 800px;
}

blockquote {
	border-left: 3px solid currentColor;
	background: var(--background-color-transparent);
	padding: 1em 2em;
}

small,
time {
	font-size: 80%;
}

table {
	border-collapse: collapse;
	text-align: left;
	table-layout: fixed;
	font-variant-numeric: tabular-nums;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

table,
td,
th {
	border: 1px solid;
}

td,
th {
	padding: 4px 7px;
	width: 100%;
}

thead {
	word-break: break-word;
	font-weight: 900;
}

[hidden] {
	display: none !important;
	visibility: hidden;
}

.mt-0 {
	margin-top: 0;
}

.mt-normal {
	margin-top: var(--spacing);
}

[id*='kofi-widget-overlay'] {
	margin-top: 0;
}

a[data-with-favicon]:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin: 0 0.4em;
	background-size: contain;
	background-image: var(--favicon);
}

[class~='rxjs' i] {
	--accent-color: var(--rxjs);
}
[class~='azure' i] {
	--accent-color: var(--azure);
}
[class~='zod' i] {
	--accent-color: var(--zod);
}
[class~='svelte' i] {
	--accent-color: var(--svelte);
}
[class~='cypress' i] {
	--accent-color: var(--cypress);
}
[class~='javascript' i] {
	--accent-color: var(--javascript);
}
[class~='vue' i] {
	--accent-color: var(--vue);
}
[class~='typescript' i] {
	--accent-color: var(--typescript);
}
[class~='angular' i] {
	--accent-color: var(--angular);
}
[class~='.net' i],
[class~='dotnet' i] {
	--accent-color: var(--dotnet);
}
[class~='ngrx' i] {
	--accent-color: var(--ngrx);
}
[class~='playwright' i] {
	--accent-color: var(--playwright);
}

code,
pre {
	font-family: 'Ligconsolata', 'MonoLisa', 'Cartograph CF', 'Cascadia Code', 'Dank Mono',
		'Operator Mono Lig', 'Operator Mono Lig', 'Fira Code', 'Cascadia Mono', 'JetBrains Mono',
		'Victor Mono', Consolas, monospace;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	overflow: auto;
	position: relative;
}

:not(pre) > code {
	padding: 0.3em 0.5em;
	border-radius: 0.3em;
	white-space: normal;
}

pre > code {
	padding: 0;
	display: block;
	margin-top: 0;
	line-height: 2;
	overflow: auto;
}

pre:has(.code-heading) > code {
	padding: 3em 1em 0.5em 1.2em;
}

code {
	word-break: break-word;
	border: 1px solid var(--input-border);
}

code.dim > div:not(.highlight) {
	opacity: 0.3;
	filter: blur(0.3px);
	transition: all 0.2s ease-in;
}

code.dim:hover > div:not(.highlight) {
	filter: blur(0px);
	opacity: 1;
}

code > div {
	margin-top: 0;
}

/* pre .highlight {
	background: var(--editor-selectionHighlightBackground);
	border-left: 0.3em solid var(--editor-selectionForeground);
	display: block;
	margin: 0px -1em;
	padding: 0px 0.7em;
} */

pre > .code-heading {
	background: var(--tab-activeBackground);
	color: var(--text-color);
	font-family: var(--text-font);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.2em 0.4em;
	font-size: 0.85rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

pre > .code-heading > .file-name {
	width: 100%;
}

pre > .code-heading > .copy-code {
	margin-left: auto;
	opacity: 0;
}

pre:hover > .code-heading > .copy-code {
	opacity: 1;
}

pre > .code-heading > .copy-code.success {
	animation: wiggle 1s linear;
}

pre > .code-heading > * {
	margin: 0 0.4em;
}

pre > .code-heading > a {
	font-weight: 900;
	font-size: initial;
}

.custom-block {
	--background-color: none;
	--border-color: none;

	background: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: 0.5em 1em;
}
.custom-block > p,
.custom-block > p,
.custom-block > p,
.custom-block > p {
	margin-top: 0;
}
.custom-block.success {
	--background-color: hsla(135, 59%, 49%, 0.1);
	--border-color: hsla(135, 59%, 49%, 0.8);
}
.custom-block.danger {
	--background-color: hsla(0, 74%, 56%, 0.1);
	--border-color: hsla(0, 74%, 56%, 0.8);
}
.custom-block.info {
	--background-color: hsla(233, 82%, 69%, 0.1);
	--border-color: hsla(233, 82%, 69%, 0.8);
}
.custom-block.warning {
	--background-color: hsla(52, 100%, 71%, 0.1);
	--border-color: hsla(52, 100%, 71%, 0.8);
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 100,
		'GRAD' 200,
		'opsz' 48;
	vertical-align: middle;
	display: inline;
}

@keyframes wiggle {
	0%,
	7% {
		transform: rotateZ(0);
	}
	15% {
		transform: rotateZ(-15deg);
	}
	20% {
		transform: rotateZ(10deg);
	}
	25% {
		transform: rotateZ(-10deg);
	}
	30% {
		transform: rotateZ(6deg);
	}
	35% {
		transform: rotateZ(-4deg);
	}
	40%,
	100% {
		transform: rotateZ(0);
	}
}

/* Thanks to https://codepen.io/jakejarvis/pen/pBZWZw */
.wave {
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
