html.light {
	--syntax-comment: 257, 9.1%, 61.2%;
	--syntax-constant: 197, 53.2%, 33.5%;
	--syntax-constant-numeric: 3, 52.7%, 66.9%;
	--syntax-constant-language: 3, 52.7%, 66.9%;
	--syntax-entity-name: 3, 52.7%, 66.9%;
	--syntax-entity-name-section: 189, 29.8%, 48%;
	--syntax-entity-name-tag: 189, 29.8%, 48%;
	--syntax-entity-name-namespace: 189, 29.8%, 48%;
	--syntax-entity-name-type: 189, 29.8%, 48%;
	--syntax-entity-other-attribute-name: 268, 21.5%, 57.1%;
	--syntax-entity-other-inherited-class: 268, 21.5%, 57.1%;
	--syntax-invalid: 343, 35.1%, 54.7%;
	--syntax-invalid-deprecated: 248, 12.2%, 51.8%;
	--syntax-keyword: 197, 53.2%, 33.5%;
	--syntax-variable-language-this: 197, 53.2%, 33.5%;
	--syntax-markup-inserted-diff: 189, 29.8%, 48%;
	--syntax-markup-deleted-diff: 343, 35.1%, 54.7%;
	--syntax-markup-heading: ;
	--syntax-markup-bold-markdown: ;
	--syntax-markup-italic-markdown: ;
	--syntax-meta-diff-range: 268, 21.5%, 57.1%;
	--syntax-meta-tag: 248, 19.2%, 39.8%;
	--syntax-meta-brace: 248, 19.2%, 39.8%;
	--syntax-meta-import: 197, 53.2%, 33.5%;
	--syntax-meta-export: 197, 53.2%, 33.5%;
	--syntax-meta-directive-vue: 268, 21.5%, 57.1%;
	--syntax-meta-property-name-css: 189, 29.8%, 48%;
	--syntax-meta-property-value-css: 35, 81.2%, 56.1%;
	--syntax-meta-tag-other-html: 248, 12.2%, 51.8%;
	--syntax-punctuation: 248, 12.2%, 51.8%;
	--syntax-punctuation-accessor: 197, 53.2%, 33.5%;
	--syntax-punctuation-definition-string: 35, 81.2%, 56.1%;
	--syntax-punctuation-definition-tag: 257, 9.1%, 61.2%;
	--syntax-storage-type: 197, 53.2%, 33.5%;
	--syntax-storage-modifier: 197, 53.2%, 33.5%;
	--syntax-string: 35, 81.2%, 56.1%;
	--syntax-support: 189, 29.8%, 48%;
	--syntax-support-constant: 35, 81.2%, 56.1%;
	--syntax-support-function: 343, 35.1%, 54.7%;
	--syntax-variable: 3, 52.7%, 66.9%;
	--syntax-variable-other: 248, 19.2%, 39.8%;
	--syntax-variable-language: 248, 19.2%, 39.8%;
	--syntax-variable-function: 248, 19.2%, 39.8%;
	--syntax-variable-argument: 248, 19.2%, 39.8%;
	--syntax-variable-parameter: 268, 21.5%, 57.1%;
	--input-border: #6e6a8614;
	--tab-activeBackground: #6e6a860d;
}
