:root {
	--text-font: -ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--head-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--spacing: 1.5em;
	--spacing-small: 0.5em;
	--spacing-large: 3em;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fff;
		--text-color: #111;
		--text-color-light: rgba(0, 0, 0, 0.7);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #111;
		--text-color: #eee;
		--text-color-light: rgba(255, 255, 255, 0.7);
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

* + * {
	margin-top: var(--spacing);
}

main {
	margin-top: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: var(--text-font);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 18px;
	line-height: 1.6;
	padding-bottom: 2em;
}

a {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2em;
}

p {
	font-size: 1.3rem;
	line-height: 2;
}

@media (max-width: 480px) {
	p {
		font-size: 1rem;
	}
}

ul {
	list-style-type: none;
}

ol {
	list-style-position: inside;
}

li + li,
li > a + ul {
	margin-top: var(--spacing-small);
}

ul ul {
	padding-left: 1.11em;
}

input {
	border: 1px solid;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border-radius: 2px;
	display: block;
	width: 100%;
	font-size: inherit;
	color: #111;
}

label {
	font-size: inherit;
}

img {
	width: 100%;
}

button {
	background: none;
	outline: none;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 0.2em 0.5em;
	margin: 0.3em 0.6em 0.3em 0;
	cursor: pointer;
	font-size: inherit;
}

button:focus,
button:active,
a:focus,
a:active {
	outline: 2px solid currentColor;
	outline-offset: 0.25em !important;
}

:focus:not(:focus-visible) {
	outline: none;
}

#svelte > *:not(footer, script) {
	display: grid;
	grid-template-columns:
		minmax(1.2rem, 1fr)
		minmax(auto, 80ch)
		minmax(1.2rem, 1fr);
}

#svelte > * > * {
	grid-column: 2;
}

main > h1 {
	margin-top: var(--spacing);
}

main > h2,
main > h3 {
	text-transform: uppercase;
}

#svelte > main > pre,
#svelte > main > iframe,
#svelte > main > figure,
#svelte > main > table,
#svelte > main > blockquote,
#svelte > main > .wide {
	grid-column: 1 / 4;
	width: 100%;
	max-width: 90ch;
	justify-self: center;
}

#svelte > main > iframe {
	max-width: 100%;
}

figure > figcaption {
	margin-top: 0;
	opacity: 0.7;
	font-size: 0.7rem;
	text-align: center;
}

iframe {
	height: 800px;
}

blockquote {
	border: 1px dashed currentColor;
	border-left: 3px solid currentColor;
	padding-left: 2em;
}

small,
time {
	font-size: 80%;
}

table {
	border-collapse: collapse;
	text-align: left;
	table-layout: fixed;
	font-variant-numeric: tabular-nums;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

table,
td,
th {
	border: 1px solid;
}

td,
th {
	padding: 4px 7px;
	width: 100%;
}

thead {
	background: currentColor;
	word-break: break-word;
	font-weight: 900;
}

tbody tr:nth-child(even) {
	background: currentColor;
}

[hidden] {
	display: none !important;
	visibility: hidden;
}
