@import './fonts/VictorMono/font-face.css';
@import './fonts/Inter/font-face.css';

:root {
  --content-width: 47rem;
  --text-font: 'Inter', sans-serif;
  --head-font: 'Comfortaa', cursive;
  --prime-color: rgba(248, 196, 0, 1);
  --prime-color-shadow: rgba(248, 196, 0, 0.7);
  --prime-color-text: rgba(0, 0, 0, 0.5);
  --link-color: var(--prime-color);
  --spacing: 1.5em;
  --transition-duration: 347ms;

  --aid-color: rgba(199, 35, 30, 1);
  --aid-color-text: rgba(255, 255, 255, 0.8);

  --itnext-color: rgba(61, 121, 173, 1);
  --itnext-color-text: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: var(--spacing);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
  margin-top: 0;
  line-height: 1.8;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  transition: all var(--transition-duration) ease-in;
}

body.sunrise {
  --background-color: #fff;
  --text-color: #333;
  --text-color-50: #666;
  --text-color-70: #888;
}

body.sunset {
  --background-color: #333;
  --text-color: #fff;
  --text-color-50: #eee;
  --text-color-70: #ccc;
}

ul {
  list-style: inside;
  list-style-type: none;
}

ol {
  list-style: inside;
  list-style-type: decimal;
}

li {
  margin-top: calc(var(--spacing) / 2);
  line-height: 1.3;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: var(--head-font);
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--link-color);
  padding: 0 0 1px 0;
  border-bottom: 1px solid currentColor;
}

blockquote {
  border-left: 2px solid var(--prime-color);
  padding-left: 2em;
}

p {
  cursor: default;
}

::selection {
  background: var(--prime-color);
  color: #fff;
}

svg {
  stroke: var(--prime-color);
}

code {
  font-family: 'VictorMono', Consolas;
}
