/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

:root {
  --background-color-code: #333;
  --code-color: rgba(143, 188, 187, 1);
  --code-color-2: var(--prime-color);
}

code[class*='language-'],
pre[class*='language-'] {
  background: var(--background-color-code);
  color: var(--code-color);
}

code[class*='language-'] {
  color: var(--prime-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  opacity: 0.6;
}

.token.punctuation {
  opacity: 0.8;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number,
.token.function {
  color: var(--code-color-2);
}

.token.property,
.token.attr-value {
  color: var(--code-color);
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

code.language-javascript,
.token.attr-name {
  color: var(--code-color-2);
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: var(--code-color-2);
}

.token.placeholder,
.token.variable {
  color: var(--code-color-2);
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

/* overrides color-values for the Line Numbers plugin
  * http://prismjs.com/plugins/line-numbers/
  */
/* .line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers-rows > span:before {
  color: #3c3949;
} */

/* Customs  */

/* Code blocks */

/* Inline code */
pre[class*='language-'] {
  border: 1px solid var(--prime-color);
}

pre[class*='language-'] > .code-heading {
  border-bottom: 2px solid;
  background: rgba(248, 196, 0, 0.1);
  color: var(--prime-color);
}
